@font-face {
  font-family: UASQUARE;
  src: url(../fonts/UASQUARE.ttf) format('truetype');
}

:root {
  --background1: #111a24;
  --white: #ffffff;
}

body {
  background-color: var(--background1);
  color: var(--white);
  font-family: 'UASQUARE';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100vh;
  padding: 0;
  margin: 0;
}
