@font-face {
  font-family: DejaVu Sans Mono;
  src: url(../assets/fonts/DejaVuSansMono.ttf) format('truetype');
}

@font-face {
  font-family: UA Squared;
  src: url(../assets/fonts/UASQUARE.ttf) format('truetype');
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-foreground);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
  border-radius: 10px;
}

:root {
  --margin: 0;
  --padding: 0;
  --box-sizing: border-box;
  --scrollbar-width: thin;
}

body {
  background-color: var(--backgroundDefault);
  color: var(--white);
  font-family: 'UA Squared', monospace;
  margin: var(--margin);
  padding: var(--padding);
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 70ch;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

.tab-container {
  background-color: var(--backgroundDefault);
  width: 100%;
  position: sticky;
  top: 0;
  height: 6rem;
  display: flex;
  align-items: end;
  border-bottom: 1px solid var(--accent);
}

.tab {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.tab.active {
  background-color: var(--whiteTransparent);
}

.tab-content {
  width: 100%;
  flex: 1;
  display: none;
  padding: 0 1.75rem;
}

.tab-content.active {
  display: block;
}

.underline {
  text-decoration: underline;
}
