@font-face {
  font-family: DejaVu Sans Mono;
  src: url(./fonts/DejaVuSansMono.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background: black;
  color: cyan;
  overflow: hidden;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: small;
}

canvas {
  background: lightblue;
  display: block;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 75% 20%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    'stats stats'
    'messages canvas'
    'something1 something1';
}

.canvas-container {
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: canvas;
}

.stats-container {
  background: navy;
  grid-area: stats;
}

.messages-container {
  background: RebeccaPurple;
  grid-area: messages;
}

.something-container {
  background: SteelBlue;
  grid-area: something1;
  display: grid;
  grid-template-columns: 2;
}

.buffs-container {
  background: darkslateblue;
  grid-column: 1;
}

.equipment-container {
  background: darkslategray;
  grid-column: 2;
}

.equipment-slot {
  display: flex;
}
