* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background: black;
  color: cyan;
  overflow: hidden;
}

canvas {
  background: lightblue;
  display: block;
  grid-area: canvas;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    'stats stats'
    'messages canvas';
}

.stats-container {
  grid-area: stats;
}

.messages-container {
  grid-area: messages;
}
