@font-face {
  font-family: DejaVu Sans Mono;
  src: url(./fonts/DejaVuSansMono.ttf) format('truetype');
}

:root {
  --background1: #111a24;
  --accent: #017f9e;
  --white: #ffffff;
  --whiteTransparent: rgba(255, 255, 255, 0.1);
  --margin: 0;
  --padding: 0;
  --box-sizing: border-box;
  --scrollbar-width: thin;
  --scrollbar-foreground: var(--white);
  --scrollbar-background: var(--background1);
  --selection-color: var(--white);
  --selection-background: var(--accent);
}

* {
  margin: var(--margin);
  padding: var(--padding);
  box-sizing: var(--box-sizing);
}

* {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

::selection {
  color: var(--selection-color);
  background-color: var(--selection-background);
}

html {
  background: var(--background1);
  color: var(--white);
  overflow: hidden;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: small;
}

canvas {
  display: block;
}

li {
  list-style: none;
}

.scanlines:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  touch-action: none;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 0.5px,
    transparent 2px,
    transparent 4px
  );
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 80% 15%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    'stats stats'
    'messages canvas'
    'bottom bottom';
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: canvas;
  /*   border: solid var(--white) 1px; */
}

.stats-container {
  grid-area: stats;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.messages-container {
  grid-area: messages;
  display: flex;
  /*   flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem; */
}

.bottom-container {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  width: 15%;
}

.hud-image {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}

.buffs-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 20%;
}

.equipment-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 60%;
}

.options-container {
  display: flex;
  height: 100%;
  width: min-content;
}

.log-screen,
.inventory-screen,
.equipment-screen {
  background: var(--background1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
}

.log-screen h1,
.inventory-screen h1,
.equipment-screen h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.log-screen ul li:nth-child(odd) {
  background-color: var(--whiteTransparent);
}
